@import '_pizzaVariables';
@import '_generalRules';

div > img {
    padding-top: 10px;
    border-radius: 40px;
}

section p {
    font-size: 12px;

    p:hover {
        background-color:rgb(168, 226, 221);
    }
}

ul {
    text-align: center;
    list-style: none;
}

li::before {
content: "•";
padding-top: 10px;
color: rgb(201, 73, 56);
display: inline-block;
width: 1em;
}

.header_container {
    position: relative;
    text-align: center;
    color: white;

    div {
        position: absolute;
        font-size: 2.5em;
        font-weight: bolder;
        text-shadow: 1px 1px 2px grey, 0 0 15px dodgerblue, 0 0 30px dodgerblue;
        font-family:"Roboto Slab", Helvetica;
        font-style: italic;
        left:50%;
        top:80%;
        transform: translate(-50%, -70%);
    }
    
    img {
        display: block;
        height:500px;
        width: 100%;
        object-fit: fill;
    }

    &:hover {
        box-shadow: 5px 5px 7px red;
        border-radius: 30px;
    }
}

div > h2 {
    color:#FFFFFF;
    font-size: 16px;
    font-weight: bolder;
}

.review_container {
    display: grid;
    padding: 10px, 0;
    grid-template-columns: $colSize $colSize*1/3 $colSize*1/3 $colSize*1/3 $colSize*1/3 $colSize;
    grid-template-rows: $rowSize $rowSize;

    h2 {
        grid-column: 1/7;
    }
    
    img {
        height: 70px;
        width: 4vw;
        grid-column: 1 / span 3;
        grid-row: 2 / 3;
    }
    
    a {
        justify-self: center;
        grid-column: 1 / span 6;
        grid-row: 2 / span 2;
    }
}

.grid_images_container {
    @include GridFitColumns(0.6);
}

.grid_images_container > img {
    width: 100%;
    height: 60%;
}

img:nth-child(1), img:nth-child(3) {
    justify-self: right;
}

.grid_container_abtus {
    display: grid;
    max-height: 400px;
    grid-auto-flow: column;
    grid-auto-rows: 300px;
    grid-template-columns: $colSize $colSize;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}

.grid_container_abtus > img {
    width: 80%;
    height: 50%;
    object-fit: cover;
}

.gallery_animate {
    filter: grayscale(100%);
    transition-duration: 1.5s;
    transition-timing-function: ease-out;
}

.gallery_animate:hover {
    filter: grayscale(0%);
}

#yelp_pic {
    width: 100px;
    display: inline-block;
}

#intro_section {
    margin: 40px 0;
    background-image: url(Pictures/pizzaBanner.jpg);
    background-position: 50% 50%;
    background-size: 100%;
}

#intro_vid {
    width: 80vw;
    height: 35vh;
    border: 5px groove;
    padding: 10px 10px;
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#list_heading {
    padding: initial;
}

#spectrum {
    @include rotatingColors();
    animation-name: InfiniteSpectrum;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#fast_forward {
    visibility: hidden;
}


/* Media query for tablets */
@media only screen and (min-width: 7in) {
    header, footer p, a, h2 {
        @include FontChg(1.4rem, bold);
    }
    
    section p, div > h2 {
        font-size: 1.2rem;
    }

    .grid_images_container {
        grid-template-columns: $columnFit;
    }

    #fast_forward {
        @include BouncingArrow();
        position: relative;
        visibility: visible;
        animation-name: BouncingArrow;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .review_container > img {
        padding-left: 60px;
        height: 70px;
        width: 4vw;
        grid-column: 2 / span 3;
        grid-row: 2 / 3;
    }
    
    .review_container a {
        justify-self: start;
        grid-column: 4 / span 7;
        grid-row: 2 / 3;
    }
}


/* Media query for desktop */
@media only screen and (min-width: 1000px) {
    
    header, footer p, a, h2 {
        @include FontChg(1.6rem, bold);
    }

    div > h2 {
        font-size: 1.4rem;
    }

    .grid_images_container {
        grid-template-columns: $columnFit;
        margin: 0 15vw;
    }

    #intro_vid {
        height: 80vh;
    }
    
    
    #fast_forward {
        @include BouncingArrow();
        position: relative;
        animation-name: BouncingArrow;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .review_container {
        display: grid;
        padding: 10px, 0;
        grid-template-columns: 1fr .3fr .3fr .3fr .3fr 1fr;
        grid-template-rows: 80px 80px;
    }
    
    .review_container > h2 {
        grid-column: 1/7;
    }
    
    .review_container > img {
        padding-left: 60px;
        height: 70px;
        width: 4vw;
        grid-column: 3 / span 3;
        grid-row: 2 / 3;
    }
    
    .review_container a {
        justify-self: start;
        grid-column: 4 / span 7;
        grid-row: 2 / 3;
    }

    .grid_container_abtus {
        margin: 0 15vw;
        grid-template-rows: 1fr;
    }

    .grid_container_abtus > img {
        height: 70%;
    }
}